@model MetaPAL.Models.Repo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Repo</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostingRepository" class="control-label"></label>
                <select asp-for="HostingRepository" class="control-label" asp-items="Html.GetEnumSelectList<HostingRepository>()"></select>
                
                

                @*<select asp-for="HostingRepository" @Html.DropDownList("Hosting Repository", Html.GetEnumSelectList<HostingRepository>(),"Select Hosting Repository", new {@class = "form-control"}))/>*@

                </div>
            <div class="form-group">
                <label asp-for="HostingRepositoryURL" class="control-label"></label>
                <input asp-for="HostingRepositoryURL" class="form-control" />
                <span asp-validation-for="HostingRepositoryURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatasetFtpLocation" class="control-label"></label>
                <input asp-for="DatasetFtpLocation" class="form-control" />
                <span asp-validation-for="DatasetFtpLocation" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}